# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Public files
public/*
!public/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
